<!--join.ejs-->
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>Join</title>
  </head>
  <body>
    <h1>join</h1>
    <form method="post">
      <label>id :</label><input type="text" name="userId" /><br />
      <label>pw :</label><input type="password" name="userPw" /><br />
      <label>pw-re :</label><input type="password" name="userPwRe" /><br />
      <input type="submit" />
      <input type="button" id="mysql" value="mysql" />
    </form>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>
      $("#mysql").on("click", function () {
        console.log("mysql버튼을 클릭함")
      })
    </script>
  </body>
</html>
